* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#toggle-slide {
    display: none;
}
label {
    width: 120px;
    height: 50px;
    background-color: red;
    text-indent: -9999px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}
label::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 25px;
    top: 5px;
    left: 5px;
}
